<header>
    <nav>
        <ul class='nav-bar'>
            <li class='logo'><a href='../index.html'><img src='images/18.svg'/></a></li>
            <input type='checkbox' id='check' />
            <span class="menu">
                <li><a href="index.html#hero">Home</a></li>
                <li><a href="index.html#about">About Us</a></li>
                <li><a href="index.html#product">Products</a></li>
                <li><a href="index.html#services">Services</a></li>
                <li><a href="../gallery.html">Gallery</a></li>
                <li><a href="index.html#projects">Projects</a></li>
                <li><a href="#footer">Contact Us</a></li>
                <li><a href="https://forms.gle/pFJs1hXYYqZuxoWd7">Place Order</a></li>
                <label for="check" class="close-menu"><i class="fas fa-times"></i></label>
            </span>
            <label for="check" class="open-menu"><i class="fas fa-bars"></i></label>
        </ul>
    </nav>
</header>